body {
    font-family: 'Verdana.', serif;
    color: #181818;
    width: 80%;
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    font-size: 2em;
}
#contenu {
    width: 100%;
    display: table;
    background: rgb(109, 126, 145);
    box-shadow: 5px 5px rgb(56, 66, 71);
}

#contenu span {
    font-size: 2.5em;
    text-align: center;
    color: white;
    text-shadow: 10px 10px 8px black;
    vertical-align: middle;
    display: table-cell;
}

#bouton-meilleur-film{
    height: 20px;
    background: red;
    color: white;
    margin: 10px;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
}


h1 {
    font-size: 2.5em;
    font-weight: bold;
    font-style: italic;
    color: red;
    text-shadow: 3px 3px 4px black;
}
select {
    font-size: 0.4em;
}

.liste-deroulante {
    font-size: 3em;

}
.meilleur-film {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 2px solid;
    padding: 10px;
}

.meilleur-film img {
    width: 200px;
    height: 300px;

}

#description-meilleure-film {
    font-size: large;
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-shadow: none;
}


.bouton-voir-plus {
    background-color: rgb(230, 25, 25);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    text-decoration: none;
    visibility: hidden;
}
.bouton-voir-plus {
    display: block;
    bottom: 20px;
    width: 100px;
    margin: auto;


}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.overlay .details-button {
    margin-top: 10px;
}

#details {
    cursor: pointer;
}
.categories {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
}
.espace {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    border: 2px solid #000;
    width: calc(60% - 30px);
}

.espace img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal {
    background-color: rgb(244, 244, 220);
    position: fixed;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    z-index: 10;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

#mTitre {
    font-size: xx-large;
    width: 20%;
}

.modal.mVisible {
    visibility: visible;
    opacity: 1;
}

.mHead {
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 100px;
    max-width: 100%;
    flex: 1;
    position: relative;
    margin-top: 60px;
    margin-left: 60px;
}

.mBody {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.mBody h2 {
    font-size: 1.5em;
    color: red;
}

.mBody p {
    word-wrap: break-word;
    width: 60%;
}

.mFermer {
    position: absolute;
    top: 10px;
    right: 50px;
    cursor: pointer;
    font-size: xx-large;
    font-weight: bolder;
}

.mFermer:hover {
    color: red;
}
